video::-webkit-media-controls-panel {
  opacity: 0;
}

video::-webkit-media-controls-panel:hover {
  opacity: 1;
}


.navbar .nav-item .btn:hover{
  font-size: 125% !important;
  font-weight: 700;
  transition: 0.5s;
}

