*{
    
    margin: 0;
    padding: 0;
    --sizeNavBar:113px;
    box-sizing: border-box;
    
}


body {
    background-color: #151516;
    color:white;
    font-family: "Segoe UI", Arial, sans-serif;
}

.logo{
    height: 112px;
    width: 119px;
    float: left;
    margin-left: 7%;
    margin-top: 1%; 
}

.logo-oficial{

    height: 90px;
    width: 153px;
    margin-top: 7%;
    padding: 0;
}



nav{
    background-color: #000000;
    position: absolute;
    margin: 0;
    z-index: 10;
    width: 100%;
    height: var(--sizeNavBar);
    display: grid;
    grid-template-columns: 5% 85% 10%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;

}

nav ul li {
    border: gray inset 2px ;
    background-color: gray;
    padding: 13px;
    margin-right: 2%;
    
}

nav ul li a{

    text-decoration: none;
    color: white;
}



.content{
    position: absolute;
    top: calc(4% + var(--sizeNavBar));   
}


#contenidoBannerSlide{
    
    height: 780px;
    overflow: hidden;

}

.itemBannerSlide{
    margin-left: 11.5%;
    height: 780px;
    width: 1450px;
    position: relative;

}

.imagenesBannerSlide{
    height: 100%;

}

.flechasBannerSlide{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}


#imagenBanner-1{
    height: 100%;
    width: 100%;

}

#imagenBanner-1{
    height: 100%;
    width: 100%;  

   }

 #imagenBanner-1{
    height: 100%;
    width: 100%;

 }

 .imgBanner{
     height: 780px;
     width: 1450px;

 }

 i{
    text-decoration: none;
    color: white;
    font-size: 50px;

 }