.navbar .nav-item .btn:hover {
  font-size: 125% !important;
  font-weight: 700;
  transition: 0.5s;
}

@media screen and (max-width: 440px) {
  #twitch-embed-1 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  #twitch-embed-2 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  #twitch-embed-3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  #twitch-embed-4 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

}

footer{
  background-color: black;
}