$colorPrincipal: #151516;
$colorSecundario: white;
$colorFuerte:black;

body{
    background-color: $colorPrincipal !important;
    color: $colorSecundario !important;
}

footer{
    background-color: $colorFuerte;
}

.bordeImagen{
    border: black 5px solid;
}

table{
    border: rgb(135, 132, 132) 1.5px solid !important;
}