*{
    
    margin: 0;
    padding: 0;
    --sizeNavBar:113px;
    box-sizing: border-box;
    
}


body {
    background-color: #151516;
    color:white;
    font-family: "Segoe UI", Arial, sans-serif;
}

.logo{
    height: 107px;
    width: 114px;
    float: left;
    margin-left: 7%;
    margin-top: 7%; 
}

.logo-oficial{

    height: 90px;
    width: 153px;
    margin-top: 7%;
    padding: 0;
}

footer{

    background: #000;
    width: 100%;
    padding: 20px;
    text-align: left;
}



nav{
    background-color: #000000;
    position: fixed;
    margin: 0;
    z-index: 10;
    width: 100% ;
    height: var(--sizeNavBar);
    display: grid;
    grid-template-columns: 5% 85% 10%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;

}

nav ul li {
    border: gray inset 2px ;
    background-color: gray;
    padding: 1%;
    margin-right: 2%;
    
}

nav ul li a{

    text-decoration: none;
    color: white;
}



.content{
    position: absolute;
    top: calc(4% + var(--sizeNavBar));   
}
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  * {
    -ms-overflow-style: none;
  }
  
 

  h2 {
    text-align: center;
    font-size: 40px;
}

#noticiaBanner{
    height: 100%;
    width: 100%;

}

#noticiaBanner img{
    height: 100%;
    width: 60%;
    margin-left: 20%;
}

#noticiaBanner iframe{
    height: 700px;
    width: 60%;
    margin-left: 20%;
}

#noticiaBanner h3{
    font-size: 30px;
    text-align: center;
}

#noticiaBanner p{
    text-align: center;
}

.p-emphasis{
    font-size: 20px;
    font-weight: 800;

}