*{
    
    margin: 0;
    padding: 0;
    --sizeNavBar:113px;
    box-sizing: border-box;
    
}


body {
    background-color: #151516;
    color:white;
    font-family: "Segoe UI", Arial, sans-serif;
    overflow-x: hidden;
}

.logo{
    height: 107px;
    width: 114px;
    float: left;
    margin-left: 7%;
    margin-top: 7%; 
}

.logo-oficial{

    height: 90px;
    width: 153px;
    margin-top: 7%;
    padding: 0;
}

footer{

    background: #000;
    width: 100%;
    padding: 20px;
    text-align: left;
}



nav{
    background-color: #000000;
    position: fixed;
    margin: 0;
    z-index: 10;
    width: 100% ;
    height: var(--sizeNavBar);
    display: grid;
    grid-template-columns: 5% 85% 10%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;

}

nav ul li {
    border: gray inset 2px ;
    background-color: gray;
    padding: 1%;
    margin-right: 2%;
    
}

nav ul li a{

    text-decoration: none;
    color: white;
}


  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  * {
    -ms-overflow-style: none;
  }
  
 

  h2 {
    margin-left: 8%;
    font-size: 40px;
}

.imgStreamer1 {
    width: 80%;
    height: 90%;

}

#streamerPrincipal{
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left: 9%;
}

#streamer1 p{
    font-size: 40px;
    font-weight: 700;
    
}

#twitchIframe{
    margin-top: 4%;

}

.imgSubStreamer{
    width: 70%;
    height: 80%;

}

#streamers{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center; 
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 10%;
}

#streamers p{
    margin-top: 7%;
    font-size: 30px
}
